<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create user</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" th:action="@{/admin/user/create}" th:object="${user}" th:method="post" accept-charset="utf-8">
    <h1>New User:</h1>

    <div class="row">
        <label for="user-name">Name:</label>
        <input id="user-name" name="name" type="text" required th:value="${user.name}"/>
    </div>

    <div class="row">
        <label for="user-login">Login:</label>
        <input id="user-login" name="login" type="text" required th:value="${user.login}"/>
    </div>

    <div class="row">
        <label for="user-password">Password:</label>
        <input id="user-password" name="password" type="password" required th:value="${user.password}"/>
    </div>

    <div class="row">
        <label for="user-role">Role:</label>
        <select id="user-role" name="role">
            <option
                    th:each="role : ${T(ru.otus.hw13.domain.UserRole).values()}"
                    th:value="${role}"
                    th:text="${role}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
