<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User added</title>
</head>
<body>
<h4>Добавлен пользователь: </h4>
<table style="width: 400px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 100px">Логин</td>
        <td style="width: 100px">Роль</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>${id}</td>
        <td>${name}</td>
        <td>${login}</td>
        <td>${role}</td>
    </tr>
    </tbody>
</table>
<a href="/admin">Назад</a>
</body>
</html>