<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/common.css}">

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script type="text/javascript" src="admin.js" th:src="@{/admin.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-12 border rounded common-div">

            <h5>All users: </h5>
            <div class="row">
                <div class="col-md-12">
                    <table id="users-list" class="table table-striped">
                        <tbody id="users-list-content">
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}">Id</td>
                                <td th:text="${user.name}">Name</td>
                                <td th:text="${user.login}">Login</td>
                                <td th:text="${user.role}">Role</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-12 border round common-div">
            <h5>Add user: </h5>
            <form>
                <div class="form-group">
                    <label for="user-name">Name: </label>
                    <input type="text" id="user-name" class="form-control" placeholder="name..." required>
                </div>
                <div class="form-group">
                    <label for="user-login">Login: </label>
                    <input type="text" id="user-login" class="form-control" placeholder="login..." required>
                </div>
                <div class="form-group">
                    <label for="user-password">Password: </label>
                    <input type="password" id="user-password" class="form-control" placeholder="password..." required>
                </div>
                <div class="form-group">
                    <label for="user-role">Role:</label>
                    <select class="form-control selectpicker" id="user-role" name="role">
                        <option
                                th:each="role : ${T(ru.otus.hw15.ru.otus.hw16.lib.domain.UserRole).values()}"
                                th:value="${role}"
                                th:text="${role}">
                        </option>
                    </select>
                </div>
                <button id="createNewUser" class="btn btn-dark" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
